<!doctype html>
<html lang="zh">
{% include 'head.html' %}

<body>
    {% include 'header.html' %}
    <div class="container">
        <h3>服务器：{{ result['servers'][0].name }}</h3>
        <!--span>cat.nyan.im</span-->
        <br>
        <h5>
            {% if result['servers'][result['servers']|length - 1].status == 0 %}
            <span class="badge badge-secondary badge-danger">Offline</span>
            {% elif result['servers'][result['servers']|length - 1].status == 1 %}
            <span class="badge badge-secondary badge-success">Online</span>
            {% elif result['servers'][result['servers']|length - 1].status == 2 %}
            <span class="badge badge-secondary badge-warning">Unstable</span>
            {% endif %}
            <span class="badge badge-secondary badge-warning">Ping: {{result['servers'][result['servers']|length - 1].ping}}</span>
        </h5>
        <h4>PING</h4>
        <!-- ping chart -->
        <div id="pingchart" style="width: 100%;height:400px;"></div>
        <h3>服务</h3>
        <div id="servicechartsection">
        </div>
    </div>
    <!--script src="https://code.getmdl.io/1.3.0/material.min.js"></script-->
    <script>
        // 基于准备好的dom，初始化echarts实例
        url_split = window.location.href.split("/");
        current_server_name = url_split[url_split.length - 1];
        $.ajax({
            url: '/api/get_server_data/' + current_server_name + '/72',
            success: function (result) {
                var pingChart = echarts.init(document.getElementById('pingchart'));

                var server_series = [];
                for (var i in result) {
                    data = [];
                    for (var j = 0; j < result[i].data.length; j++) {
                        data.push([result[i].date[j], result[i].data[j]]);
                    }
                    server_series.push({
                        name: i,
                        type: 'line',
                        smooth: true,
                        data: data
                    })
                }

                // 指定图表的配置项和数据
                var server_option = {
                    title: {
                        text: "{{ result['servers'][0].server }}"
                    },
                    tooltip: {},
                    legend: {
                        //data:['销量']
                    },
                    xAxis: {
                        type: 'time'
                    },
                    yAxis: {},
                    series: server_series
                };

                // 使用刚指定的配置项和数据显示图表。
                pingChart.setOption(server_option);
            }
        });
    </script>
    <script>
        var rsttime;
        $.ajax({
            url: '/api/get_service_from_server/' + current_server_name,
            success: function (service_result) {
                service_result.map(function (service_item) {
                    $.ajax({
                        url: '/api/get_service_data/' + service_item + '/72',
                        success: function (result) {
                            data = result.data.map(function (item) {
                                r = item[2];
                                if (r < 0) {
                                    r = '-'
                                }
                                return [item[1], item[0], r];
                            });
                            //console.log(data)
                            rsttime = result.time
                            service_series = {
                                name: service_item,
                                type: 'heatmap',
                                data: data,
                                label: {
                                    normal: {
                                        show: true
                                    }
                                },
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            };

                            console.log(service_series)
                            var service_option = {
                                title: {
                                    text: service_item
                                },
                                tooltip: {
                                    position: 'top'
                                },
                                animation: false,
                                grid: {
                                    height: '50%',
                                    y: '10%'
                                },
                                xAxis: {
                                    type: 'category',
                                    data: rsttime,//result.time,
                                    splitArea: {
                                        show: true
                                    }
                                },
                                yAxis: {
                                    type: 'category',
                                    data: ['http', 'https'],
                                    splitArea: {
                                        show: true
                                    }
                                },
                                visualMap: {
                                    min: 0,
                                    max: 2,
                                    calculable: true,
                                    orient: 'horizontal',
                                    left: 'center',
                                    bottom: '15%'
                                },
                                series: service_series
                            };
                            $("#servicechartsection").append('<div id="' + service_item + '" style="width: 100%;height:400px;"></div>')
                            var serviceChart = echarts.init(document.getElementById(service_item));
                            serviceChart.setOption(service_option);
                        }
                    });
                })
            }
        });

    </script>
</body>
<!--
                    <table width=100% class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">服务</th>
                                <th>Agent</th>
                                <th>URL</th>
                                <th>HTTP</th>
                                <th>HTTPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">cat</td>
                                <td>vtr</td>
                                <td>http://cat.nyan.im/</td>
                                <td>online</td>
                                <td>offline</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">blog</td>
                                <td>vtr</td>
                                <td>https://blog.nyan.im/</td>
                                <td>online</td>
                                <td>online</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <h4>server: {{ result['servers'][0].name }}</h4>
                        {{ result['servers'][0].server }} 
                        <br>
                        {% for i in result['servers'] %} 
                        {{ i.status }} &nbsp; {{ i.ping }} &nbsp; {{i.agent}} &nbsp; {{ i.time }} 
                        <br>
                        {% endfor %}
                        <h4>services</h4>
                        {% for services in result['services'] %} 
                        {% for i in services %} 
                        {{ i.name }} {{ i.url }} {{ i.http }} {{ i.https }} {{ i.time }}  
                        <br>
                        {% endfor %}
                        <br>
                        {% endfor %}
                    </div>
                -->

</html>