<!doctype html>
<html lang="zh">
{% include 'head.html' %}

<body>
    {% include 'header.html' %}
    <div class="container">
        <h3>服务器：{{ result['servers'][0].name }}</h3>
        <!--span>cat.nyan.im</span-->
        <br>
        <h5>
            {% if result['servers'][0].status == 0 %}
            <span class="badge badge-secondary badge-danger">Offline</span>
            {% elif result['servers'][0].status == 1 %}
            <span class="badge badge-secondary badge-success">Online</span>
            {% elif result['servers'][0].status == 2 %}
            <span class="badge badge-secondary badge-warning">Unstable</span>
            {% endif %}
            <span class="badge badge-secondary badge-warning">Ping: {{ result['servers'][0].ping }}</span>
        </h5>
        <h4>PING</h4>
        <!-- ping chart -->
        <div id="pingchart" style="width: 100%;height:400px;"></div>
        <h3>服务</h3>
        <div id="servicechartsection">
        </div>
    </div>
    <script src="/static/js/server_graph.js"></script>
    <script src="/static/js/service_graph.js"></script>
</body>
<!--
                    <table width=100% class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">服务</th>
                                <th>Agent</th>
                                <th>URL</th>
                                <th>HTTP</th>
                                <th>HTTPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">cat</td>
                                <td>vtr</td>
                                <td>http://cat.nyan.im/</td>
                                <td>online</td>
                                <td>offline</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">blog</td>
                                <td>vtr</td>
                                <td>https://blog.nyan.im/</td>
                                <td>online</td>
                                <td>online</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <h4>server: {{ result['servers'][0].name }}</h4>
                        {{ result['servers'][0].server }} 
                        <br>
                        {% for i in result['servers'] %} 
                        {{ i.status }} &nbsp; {{ i.ping }} &nbsp; {{i.agent}} &nbsp; {{ i.time }} 
                        <br>
                        {% endfor %}
                        <h4>services</h4>
                        {% for services in result['services'] %} 
                        {% for i in services %} 
                        {{ i.name }} {{ i.url }} {{ i.http }} {{ i.https }} {{ i.time }}  
                        <br>
                        {% endfor %}
                        <br>
                        {% endfor %}
                    </div>
                -->

</html>